//Radio
.form-group {
  &_radio,
  &_select {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    .label-control {
      width: auto;
      margin: 0 10px;
    }
  }
}

.form-group_select {
  .form-group-container {
    display: flex;
    align-items: center;
  }

  input {
    display: none;
  }

  .form-control_select {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: $color-white;
    border: 1px solid $color-grey;
    position: relative;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: $color-white;
    font-size: $size-sm;

    &.radio {
      border-radius: 50%;
    }
  }

  .text {
    margin-left: 10px;
    cursor: pointer;
  }

  .form-group-container:hover input ~ .form-control_select {
    background-color: $color-grey;
  }

  .form-group-container input ~ .form-control_select .fas {
    opacity: 0;
    transition: 0.3s;
  }

  .form-group-container input:checked ~ .form-control_select .fas {
    opacity: 1;
  }

  .form-group-container input:checked ~ .form-control_select {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }

}